services:
  # Database service
  db:
    image: postgres:16
    restart: always
    env_file:
      - ../.env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
  web:
    build:
      context: ..
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ..:/app
  
    env_file:
      - ../.env
    depends_on:
      db:
        condition: service_healthy
    command: ["/app/scripts/entrypoint.sh", "python", "manage.py", "runserver", "0.0.0.0:8000"]

volumes:
  db_data:

        